
body {
	margin: 0; padding: 0; background-color: #fff;
	font-family:  "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
}

#map {float:left; min-width: 600px; height: 100%; width: 80%; position: relative; top: -19px; background-color: #fff}
#info {float:left; height: 100%; width:20%; position: relative; right: 20px; background-color:#eee}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

body.fullMap .info.leaflet-control  {margin: 4em; }

.info {padding: 6px 8px;font: 14px/16px Arial, Helvetica, sans-serif;background: white;background: rgba(255,255,255,0.8);box-shadow: 0 0 15px rgba(0,0,0,0.2);border-radius: 5px;}
.info h4 {margin: 0 0 5px; color: #777;}

.leaflet-bottom.leaflet-right{left: 0 !important; right: auto; width: 100% !important; text-align: center; font-size: 10px; }
.leaflet-bottom.leaflet-right .info.leaflet-control {max-width: auto !important; width: 42em !important; display: inline-block;  float: none  ; background-color: #EEE; box-shadow: none; border-radius: 0; padding: 0.7ex;}

.leaflet-top.leaflet-right {max-width: 35em;}
.info.leaflet-control { position: relative; right: 7em}
.info.leaflet-control h1 {font-size: 1.5em; margin:4px 0 0 0 ; font-weight: normal;}
.info.leaflet-control h5 {margin: 0;}
.info.leaflet-control b {display: block; border-bottom: 1px dotted #999; padding: 0.5ex 0; margin: 1ex 0}
.infoJudet span {display: inline-block; width: 9em;}
.info.leaflet-control small {opacity: 0.8}

.info.leaflet-control mark {display: block !important; border:1px solid #CCC; padding: 1ex; background-color: #C00; color: White; text-shadow: 1px 1px 1px #999;}

#idleInfo {padding: 1ex; font-size: 0.9em;}

.col {display: inline-block; vertical-align: top}
